@font-face {
    font-family: "skolacek-ce";
    src: url(/fonts/skolacek-ce.woff) format("truetype");
}

body {
    font: 14px Helvetica, Arial, sans-serif;
    color: #444;
}

#heading {
    text-align: center;
}

h1 {
    display: block;
    height: 170px;
    font-family: "skolacek-ce", Helvetica, Arial, sans-serif;
    font-size: 8em;
    margin-top: 0;
    margin-bottom: 0.1em;
}

h1 a {
    text-decoration: none;
    color: #444;
}

h1 a:hover {
    color: red;

}

h2 {
    display: block;
    height: 70px;

    font-weight: lighter;
    font-size: 5em;
    font-family: "skolacek-ce", "Lucida Grande", Helvetica, Arial, sans-serif;

    margin-top: 0;
    margin-bottom: 0.1em;
}

h2.grammar-error::first-letter {
    text-transform: lowercase;
    box-shadow:
        inset 0 -0.08em white,
        inset 0 -0.11em red,
        inset 0 -0.13em white,
        inset 0 -0.16em red;
}

h3 {
    font-weight: lighter;
}

#thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.photo {
    margin: 0.5em;
    min-height: 370px;
    text-align: center;
    align-content: center;
    display: inline-block;
}

.photo h3 {
    margin-bottom: 0;
}

.photo img {
    vertical-align: text-bottom;
    -webkit-box-shadow: 10px 10px 5px 0 rgba(112, 112, 112, 0.13);
    -moz-box-shadow: 10px 10px 5px 0 rgba(112, 112, 112, 0.13);
    box-shadow: 10px 10px 5px 0 rgba(112, 112, 112, 0.13);
}

@media (max-width: 680px) {
    h1 {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 4em;
        height: auto;
    }

    h2 {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 2em;
        height: auto;
    }

    .photo img {
        max-width: 90vw;
        height: auto;
    }
}

.galleries {
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.gallery-preview {
    position: relative;
    float: left;
    width: 450px;
    height: 300px;
}

@media (min-width: 520px) {
    .gallery-preview {
        margin: 1em;
    }
}

.gallery-preview img {
    max-width: 90vw;
    max-height: 300px;
    position: absolute;
    left: 0;
    top: 0;
}

.gallery-preview h2 {
    z-index: 100;
    position: absolute;
    color: white;
    font-weight: bold;
    max-width: 90vw;
}

.gallery-preview h2 span {
    color: white;
    font: lighter 24px/45px Helvetica, Sans-Serif;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 20px 10px 20px;
}

.gallery-preview:hover h2 span,
.gallery-preview a:focus h2 span {
    background: rgba(255, 0, 0, 0.7);
}
